<div class="prompts-cell">
  <div class="iconContainer">
    <button class="tooltip-container" (click)="onViewPrompts()">
      <span class="iconLink">
        <img class="icon" src="/assets/email.svg" alt="prompts" title="View prompts" />
      </span>
      <span class="tooltip-text">View prompts</span>
    </button>

    <button class="tooltip-container" (click)="onFindSimilar()">
      <span class="iconLink">
        <img class="icon" src="/assets/find.svg" alt="find similar" title="Find Similar Securities" />
      </span>
      <span class="tooltip-text">Find Similar Securities</span>
    </button>

    <button class="tooltip-container" (click)="onFindSafer()">
      <span class="iconLink">
        <img class="icon" src="/assets/shield.svg" alt="find safer" title="Find Safer Securities" />
      </span>
      <span class="tooltip-text">Find Safer Securities</span>
    </button>

    <button class="tooltip-container" (click)="onAddToWatchlist()">
      <span class="iconLink">
        <img class="icon" src="/assets/watch.svg" alt="watchlist" title="Add to Watchlist" />
      </span>
      <span class="tooltip-text">Add to Watchlist</span>
    </button>
  </div>
</div>
